<header class="humbotron-most-like text-center">
  <h1 class="display-2">THE MOST LIKE</h1>
  <p class="lead">Only the best post with great content hand-picked by the community</p>
</header>

<div class="container pt-5">
  <div class="card-columns">
    <% @posts.each do |post| %>
    <div class="card">
      <%= image_tag post.postimage.url, class: "img-fluid d-block mx-auto" %>
      <div class="card-body">
        <%= link_to  "#{post.name}", post, class: "card-title" %>
        <p class="card-text"><%= post.description %></p>
        <hr>
        <small><%= post.user.name %></small>

      </div>
    </div>
    <% end %>
  </div>
</div>