// For debug info
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  background-color: rgba(255, 0, 0, 0.10);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 45px;
  padding: 20px;
  @include box_sizing;
}

//signin
.signin-wrapper {
margin-top: 60px;
padding: 80px 50px;
}

//signup
.signup-wrapper {
padding: 80px 50px;
}